<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title">Horarios de atencion</h5>
  </div>
  <div class="card-body">
    <p class="card-text mx-5 px-5">Gracias por visitar nuestro sitio web. Nuestro horario de atención al cliente es de lunes a viernes, de 9:00 a 13:00 y de 15:00 a 20:00 horas. Si necesitas contactarnos fuera de este horario, por favor envíanos un correo electrónico a info@eltuercas.com y te responderemos lo antes posible</p>
    <%= link_to 'Contacto', new_contact_path, class:'btn btn-primary' %>
  </div>
</div>
