<h2 class='text-center mb-5 pb-5 mt-1'>Nuestros Servicios</h2>
<div class="row row-cols-1 row-cols-md-4 g-1 mb-5">
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Mantenimiento general</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Saber mas</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Afinaci칩n</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Saber mas</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Cambio de neum치ticos</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Saber mas</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Alineado y balanceo</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Saber mas</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Cambio de aceite y filtro</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Saber mas</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Desabolladura y pintura</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Saber mas</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Diagn칩stico vehicular</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Saber mas</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Reparaci칩n y mantenimiento de frenos</h5>
        <p class="card-text">With supporting text below as a natural lead-in to.</p>
        <a href="#" class="btn btn-primary">Saber mas</a>
      </div>
    </div>
  </div>
</div>
