<div class='d-flex align-items-center flex-column'>
  <h1>Contacto</h1>
  <%= render "contacts/form", contact: @contact %>
</div>
<br>
<div class='d-flex justify-content-end'>
  <%= link_to "Volver al inicio", root_path, class: 'btn btn-secondary' %>
</div>
