<h1>Editando vehiculo</h1>
<%= render "form", vehicle: @vehicle %>
<br>
<div class='mb-5 d-flex justify-content-end gap-3'>
  <%= link_to "Mostrar vehiculo", @vehicle, class:'btn btn-secondary' %>
  <%= link_to "Volver al inicio", vehicles_path, class:'btn btn-secondary' %>
</div>
