<p style="color: green"><%= notice %></p>
<h1>Vehicles</h1>
<div id="vehicles">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @vehicles.each do |vehicle| %>
      <div class="col">
        <%= render vehicle %>
        <p>
          <%= link_to "Show this vehicle", vehicle %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "New vehicle", new_vehicle_path %>
