<h1>Nuevo vehiculo</h1>
<%= render "form", vehicle: @vehicle %>
<br>
<div class='d-flex justify-content-end mb-5'>
  <%= link_to "Volver al inicio", vehicles_path, class:'btn btn-secondary' %>
</div>
